<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361663971770-290scpe6tbn25urvs9enfjk2b4qrsr8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361663971770-290scpe6tbn25urvs9enfjk2b4qrsr8v</string>
	<key>API_KEY</key>
	<string>AIzaSyD0eCGqwYU2AiGZHXggXZpEk9er4T3B82I</string>
	<key>GCM_SENDER_ID</key>
	<string>361663971770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>christinaLin.ToDoListApp</string>
	<key>PROJECT_ID</key>
	<string>cookie776</string>
	<key>STORAGE_BUCKET</key>
	<string>cookie776.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361663971770:ios:16c5bc08abc5966ce09d83</string>
</dict>
</plist>